body{
    text-align: center;
    background-image: linear-gradient(to bottom, #252A37,#565a66 , #202022, #48494b);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.input_div{

    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
   border: #7e8494;
   border-radius: 15px;
   border-color: #7e8494;
   border-width: 3px;
   border-style: groove;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 15px;
   padding-left: 15px;

}

.container{
    color: white;
    text-align: center;
}

label{
    font-size: 25px;
}

#add_room{
    font-size: 25px;
   width: 30%;
   height: 5%;
   font-family: 'Josefin Sans', sans-serif;
}


